{% extends "layout.html" %}

{% block content %}
<div class="row" style="padding-top:10px;" >
    <div class="col"><hr></div>
    <div class="col-auto"><p class="h3" align="center">Welcome to chat room: {{ room }}</p></div>
    <div class="col"><hr></div>
</div>

<div class="container">
    <!-- container for messages -->
    <div id="messages" class="overflow-auto msgs" style="overflow-y: scroll; height:500px;">
    </div>

    <!-- message input field -->
    <form id="msgForm" action="" method="POST" style="bottom:0; margin: 0% 0% 0% 0%;">

        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your message here" aria-label="Message" id="msg">

              <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="sendBtn">Send</button>
              </div>
        </div>

    </form>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

<script>
    const socket = io.connect("http://127.0.0.1:5000");

    // when connect event is triggered
    socket.on('connect', function(){
        // emiting a new event : 'join_room'
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('msg')

        document.getElementById('msgForm').onsubmit = function(e){
            e.preventDefault();
            let message = message_input.value.trim();
            if(message.length){ //that is essage is non-empty
                socket.emit('send_message',{
                    username: "{{ username }}",
                    room: "{{ room }}",
                    message: message
                })
            }
            message_input.value=''; //making message_input empty
            message_input.focus(); //bring the focus of cursor back to message_input
        }
    });

    socket.on('receive_message', function(data){
        console.log(data)
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}: &nbsp;</b> ${data.message}`;
        document.getElementById('messages').appendChild(newNode);
    })

    socket.on('join_room_announcement', function(data){
        console.log(data)
        const newNode = document.createElement('div');

        if(data['username']!="{{ username }}"){
        newNode.innerHTML = `<b>${data.username}</b> just enetered the chat`;
        }
        else{
            newNode.innerHTML = `You just enetered the chat`;
        }
        document.getElementById('messages').appendChild(newNode);         
    })


</script>


{% endblock %}