{% extends "layout.html" %}
{% block content %}

<form action='/chat' method="POST" class="col s12">
	<div class="form-group">
        <label for="username">Enter your nickname:</label>
        <input type="text"  name="username" class="form-control" id="username" placeholder="Joey" required>
        
        <label for="room">Enter Room ID:</label>
        <input type="text"  name="room" class="form-control" id="room" placeholder="1234" required>
    </div>
    <button type="submit" class="btn btn-primary">Enter chat</button>
</form>
	

{% endblock %}